[Unit]
Description=webBoost message queue
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/webBoost
ExecStart=/usr/local/bin/celery -A tasks worker --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target