{% extends "topic/base.html" %}
{% block title %}个人设置{% endblock %}
{% block main %}
    <div id='main'>
        <div id='sidebar'>
            <div class="panel">
                <div class="header">
                    <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">
                    <div class="user_card">
                        <div>
                            <a class="user_avatar" href="/user/{{ user.username }}">
                                <img src="{{ user.image }}" title={{ user.username }}>
                            </a>
                            <span class="user_name"><a class="dark"
                                                       href="/user/{{ user.username }}">{{ user.username }}</a></span>

                            <div class="board clearfix">
                                <div class="floor">
                                    <span class="big">积分: 0 </span>
                                </div>
                            </div>
                            <div class="space clearfix"></div>
                            <span class="signature">
                            {{ user.signature }}
                            </span>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $('.follow_btn').click(function () {
                                var $me = $(this);
                                var action = $me.attr('action');
                                var params = {
                                    follow_id: '5d544ce5697873456c6bd632',
                                    _csrf: '4xPumjxb-mkdkEFLJsX5ZncGnabT-PWFBEeY'
                                };
                                $.post('/user/' + action, params, function (data) {
                                    if (data.status === 'success') {
                                        var $btns = $('.follow_btn');
                                        if (action === 'follow') {
                                            $btns.html('取消关注');
                                            $btns.attr('action', 'un_follow');
                                        } else {
                                            $btns.html('加入关注');
                                            $btns.attr('action', 'follow');
                                        }
                                        $btns.toggleClass('btn-success');
                                    }
                                }, 'json');
                            });
                        });
                    </script>
                </div>

            </div>
            <div class="panel">
                <div class="inner">
                    <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                        <span class="span-success">发布话题</span>
                    </a>
                </div>
            </div>
        </div>

        <div id='content'>
            <div class='panel'>
                <div class='header'>
                    <ul class='breadcrumb'>
                        <li><a href='/'>主页</a><span class='divider'>/</span></li>
                        <li class='active'>设置</li>
                    </ul>
                </div>
                <div class='inner'>
                    <form id='setting_form' class='form-horizontal' action='/setting/person' method='post'>
                        <div class='control-group'>
                            <label class='control-label' for='name'>用户名</label>

                            <div class='controls'>
                                <input class='input-xlarge readonly' id='name' name='name' size='30' type='text'
                                       value="{{ user.username }}"/>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='signature'>个性签名</label>

                            <div class='controls'>
                                <textarea class='input-xlarge' id='signature' name='signature' size='30'></textarea>
                            </div>
                        </div>
                        <input type='hidden' id='action' name='action' value='change_setting'/>
                        <input type='hidden' name='_csrf' value='aDu0UjsQ-iQnePPbc0dAEDU07QLx7fmvnG8s'/>

                        <div class='form-actions'>
                            <input type='submit' class='span-primary submit_btn' data-loading-text="保存中.."
                                   value='保存设置'/>
                        </div>
                    </form>
                </div>
            </div>

            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>更改密码</span>
                </div>
                <div class='inner'>
                    <form id='change_pass_form' class='form-horizontal' action='/setting/password' method='post'>
                        <div class='control-group'>
                            <label class='control-label' for='old_pass'>当前密码</label>

                            <div class='controls'>
                                <input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30'/>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label' for='new_pass'>新密码</label>

                            <div class='controls'>
                                <input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30'/>
                            </div>
                        </div>
                        <input type='hidden' id='action' name='action' value='change_password'/>
                        <input type='hidden' name='_csrf' value='aDu0UjsQ-iQnePPbc0dAEDU07QLx7fmvnG8s'/>

                        <div class='form-actions'>
                            <input type='submit' class='span-primary submit_btn' data-loading-text="更改中.."
                                   value='更改密码'/>
                        </div>
                    </form>
                </div>
            </div>

            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>更改头像</span>
                </div>
                <div class='inner'>
                    <form method="post"
                          action="{{ url_for('index.avatar_add') }}"
                          enctype="multipart/form-data"
                    >
                        <input type="file" name="avatar">
                        <button type="submit">上传头像</button>
                    </form>
                    <div class='control-group'>
                        <span class='control-label' for='new_pass'>当前头像</span>
                        <img src="{{ user.image }} ">
                    </div>
                </div>
            </div>
            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>选择默认头像</span>
                </div>
                <div class='inner'>
                    <table>
                        <tr>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=1) }}">
                                    <img src="/static/images/headers/1.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=2) }}">
                                    <img src="/static/images/headers/2.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=3) }}">
                                    <img src="/static/images/headers/3.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=4) }}">
                                    <img src="/static/images/headers/4.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=5) }}">
                                    <img src="/static/images/headers/5.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=6) }}">
                                    <img src="/static/images/headers/6.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=7) }}">
                                    <img src="/static/images/headers/7.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=8) }}">
                                    <img src="/static/images/headers/8.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=9) }}">
                                    <img src="/static/images/headers/9.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=10) }}">
                                    <img src="/static/images/headers/10.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=11) }}">
                                    <img src="/static/images/headers/11.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=12) }}">
                                    <img src="/static/images/headers/12.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=13) }}">
                                    <img src="/static/images/headers/13.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=14) }}">
                                    <img src="/static/images/headers/14.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=15) }}">
                                    <img src="/static/images/headers/15.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=16) }}">
                                    <img src="/static/images/headers/16.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=17) }}">
                                    <img src="/static/images/headers/17.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=18) }}">
                                    <img src="/static/images/headers/18.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=19) }}">
                                    <img src="/static/images/headers/19.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('setting.setting_header', id=20) }}">
                                    <img src="/static/images/headers/20.jpg">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                // qrcode generate
                var accessToken = "fefdd95c-773d-427a-919c-23bb2fc4a805";
                var qrcode = new QRCode(document.getElementById("access-token-qrcode"), {
                    text: accessToken,
                    width: 200,
                    height: 200,
                });
                // END qrcode generate

                // refreshToken
                $(".refreshToken").on("click", function () {
                    $.post("/user/refresh_token", function (result) {
                        if (result.status === 'success') {
                            $("#accessToken").text(result.accessToken);
                            qrcode.makeCode(result.accessToken)
                        } else {
                            alert(result.message);
                        }
                    })
                })
            });
        </script>
    </div>


    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/prism.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        var e = function (sel) {
            return document.querySelector(sel)
        }

        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var markContents = function () {
            // markdown -> html 的处理放在高亮前面
            // 因为高亮是针对 html 格式的
            // lang -> language 不需要转 prism 自动转了
            var contentDivs = es('.markdown-text')
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i]
                console.log('pre marked', contentDiv.textContent)
                var content = marked(contentDiv.textContent)
                console.log('after marked', content)
                contentDiv.innerHTML = content
            }
        }

        var highlight = function () {
            // 自动加载对应的语言 不然要手动加入各个语言的 js
            Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
        }

        var __main = function () {
            markContents()
            highlight()
        }

        __main()

    </script>

{% endblock %}
